<!DOCTYPE html>
<html>
<style>
.thick-border {
        border: 3px solid black;
        border-collapse: collapse;
}
.content {
  max-width: 500px;
  margin: auto;
}

</style>
<script>
var i, theContainer, theSelect, theOptions, numOptions, anOption;
theOptions = ['option 1','option 2','option 3'];

// Create the container <div>
theContainer = document.createElement('div');
theContainer.id = 'depto';

// Create the <select>
theSelect = document.createElement('select');

// Give the <select> some attributes
theSelect.name = 'depto';
theSelect.id = 'depto_id';
theSelect.className = 'class_of_select';

// Define something to do onChange
theSelect.onchange = function () {
    // Do whatever you want to do when the select changes
    alert('You selected option '+this.selectedIndex);
};

// Add some <option>s
numOptions = theOptions.length;
for (i = 0; i < numOptions; i++) {
    anOption = document.createElement('option');
    anOption.value = i;
    anOption.innerHTML = theOptions[i];
    theSelect.appendChild(anOption);
}

// Add the <div> to the DOM, then add the <select> to the <div>
document.getElementById('formulario').appendChild(theContainer);
theContainer.appendChild(theSelect);
</script>
<body>
<div id="formulario" class="content">
<h1>Escuela de Ciencias y Sistemas</h1>

<p>Hiper parametros</p>
<form action="/" method="POST" enctype="multipart/form-data">
  <label for="fname">Genero:</label><br>
  <input type="text" id="gender" name="gender" value="{{ to_predict["Genero"] }}"><br>
  <label for="lname">Edad:</label><br>
  <input type="text" id="age" name="age" value="{{ to_predict["edad"] }}"><br><br>
  <label for="lname">Año de inscripcion:</label><br>
  <input type="text" id="year" name="year" value="{{ to_predict["Año"] }}"><br><br>
  <label for="lname">Departamento:</label><br>
  {% if deptos: %}
  <select id="deptos" name="deptos">
    {% for a in deptos %}
    <option value="1">Guatemala</option>
    <option value="2">Saab</option>
    <option value="3">Fiat</option>
    <option value="4">Audi</option>
    {% endfor %}
  </select>
  {% endif %}
  <input type="text" id="department" name="department" value="{{ to_predict["cod_depto"] }}"><br><br>
  <label for="lname">Municipio:</label><br>
  <input type="text" id="municipio" name="municipio" value="{{ to_predict["cod_muni"] }}"><br><br>
  <input type="submit" value="Consultar">
</form>
{% if result %}
 <div>{{ result }}</div>
{% endif %}
</div>
</body>
</html>